section {
  margin-top: 15rem;
  background-color: whitesmoke;
  padding: 0 4rem;
}
.slider-box {
  height: 400px;
  margin: 0 auto;
  cursor: pointer;
}
.slider-box i {
  top: 50%;
  font-size: 1.5rem;
  background-color: orange;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  position: absolute;
  opacity: .2;
  transition: .4s all;
}
.fa-chevron-left {
  left: 2%;
}
.fa-chevron-right {
  right: 2%;
}
.slider-wrapper {
  scroll-behavior: smooth;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.slider-box:hover i{
    opacity: .8;
}

img {
  width: 34%;
  height: 100%;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 7px;
  position: relative;
}
.img1{
    position: relative;
}
.img1-1{
    position: absolute;
    z-index: 999;
    left:0;
}
.pagination{
    display: flex;
    justify-content:center;
}
.dot{
    width: 15px;
    height: 15px;
    background-color: orange;
    opacity: .5;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}
.active-dot{
    opacity: .8;
    transform: scale(1.4);
}
